name: calibre
services:
  calibre:
    image: lscr.io/linuxserver/calibre-web:latest
    container_name: calibre
    env_file:
      - stack.env
    volumes:
      - /DATA/AppData/calibre/config:/config
      - /DATA/AppData/calibre/library:/books
    ports:
      - "11143:8083"
    restart: unless-stopped
    network_mode: bridge

---
services:
  calibre:
    image: crocodilestick/calibre-web-automated:latest
    container_name: calibre
    env_file:
      - stack.env
    volumes:
      # CW users migrating should stop their existing CW instance, make a copy of the config folder, and bind that here to carry over all of their user settings ect.
      - /DATA/AppData/calibre/config:/config
      # This is an ingest dir, NOT a library one. Anything added here will be automatically added to your library according to the settings you have configured in CWA Settings page. All files placed here are REMOVED AFTER PROCESSING
      - /DATA/AppData/calibre/ingest:/cwa-book-ingest
      # If you don't have an existing library, CWA will automatically create one at the bind provided here
      - /DATA/AppData/calibre/library:/calibre-library
      # If you use calibre plugins, you can bind your plugins folder here to have CWA attempt to add them to its workflow (WIP)
      # If you are starting with a fresh install, you also need to copy customize.py.json to the Calibre config volume above, in /path/to/config/folder/.config/calibre/customize.py.json, see the note below for more info
      - /DATA/AppData/calibre/plugins:/config/.config/calibre/plugins
    ports:
      - 11143:8083
    restart: unless-stopped
    network_mode: bridge