name: homebridge
services:
  homebridge:
    image: homebridge/homebridge:ubuntu
    container_name: homebridge
    env_file:
      - stack.env
    volumes:
      - /DATA/AppData/homebridge:/homebridge
    restart: unless-stopped
    network_mode: host